.navbar{
  padding-top:.7rem ;
  padding-bottom:.7rem ;
  transition: .6s;
  &-bg{
    background:$primary;
  }
  &-cart{
    position: relative;
  }
  &.active{
    padding-top:.2rem ;
    padding-bottom:.2rem ;
  }
}