.swiper{
  &-bgi{
    height: 60vh;
    @include sm {
      height: 80vh;
    }
    @include md {
      height: 90vh;
    }
  }
  &-box{
    &-bg{
      padding: 1rem;
      background: rgba($primary,.5);
    }
    h1{
      color: white;
      font-size: 3rem;
      @include sm {
        font-size: 5rem;
      }
      @include md {
        font-size: 8rem;
      }
    }
  }
}