.product{
  &-img{
    max-width: 250px;
    @include md {
      max-width: 280px;
    }
    @include lg {
      max-width: 350px;
    }
  }
  &-title{
    word-break: break-all;
  }
  &-content,&-description{
    line-height: 24px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  &-precautions{
    background:$third;
    border-color: $third;
  }
  &-nav-link{
    &.active{
      background-color: $third !important; 
    }
  }
  
}