.product{
  &-group{
    list-style: none;
    &-style{
      transition: .4s;
      border: 0;
      border-left: transparent 3px solid;
      cursor: pointer;
      &:hover, &:focus{
        border-left: orange 4px solid;
        font-weight: bold;
      }
    }
  }
  &-item-style{
    overflow: hidden;
    position: relative;
    transition: .3s;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.25);
    &:hover, &:focus{
      box-shadow: 0 0.2rem .5rem rgba(0, 0, 0, 0.6);
    }
  }
  &-bgi{
    height: 260px;
    width: 100%;
    position: relative;
    &-text{
      z-index: 3;
      &-style{
        transition: all .5s;
        &:hover{
          text-decoration: none;
        }
      }
    }
    &::after{
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba(0,0,0,0.32);
    }
  }
  &-card{
    &-img{
      height: 280px;
      @include sm {
        height: 250px;
      }
      &:hover{
        .product-card-box{
          background: rgba($primary,.32);
          &::after{
            content: "查看更多";
            font-size: 18px;
            color: white;
            font-weight: bold;
          }
        }
      }
    }

    &-box{
      cursor: pointer;
      transition: all .5s;
      position: absolute;
      height: 280px;
      &::after{
      content: "";
      }
      @include sm {
        height: 250px;
      }
    }
    &-favorite{
      cursor: pointer;
      position: absolute;
      z-index: 1;
      top: 5px;
      right: 15px;
      font-size: 1.8rem;
      transition: .4s;
      &:hover, &:focus{
        font-size: 2rem;
      }
    }
  }
  &-origin_price{
    font-size: .85rem;
  }
  &-dropdown-item{
    cursor: pointer;
    transition: .4s;
    &:hover,&:focus{
      color: #fff;
      text-decoration: none;
      background-color: #000000;
    }
  }
  &-goCart{
    color: white !important;
    border-color: white;
    &:hover,&:focus{
      background-color: $primary;
    }
  }
  .sticky-top{
    top:70px;
    z-index: 8;
  }
}

