.list{
  &-group-style{
    transition: .4s;
    border: 0;
    border-left: transparent 3px solid;
    cursor: pointer;
    &:hover, &:focus{
      border-left: orange 4px solid;
      font-weight: bold;
    }
  }
  &-item-style{
    cursor: pointer;
    transition: .5s;
    border: $primary 1px solid;
    &:hover, &:focus{
      border: $third 1px solid;
      box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.2);
    }
  }
}